image:
  repository: $IMAGE_REPO
  tag: $IMAGE_TAG
imagePullSecrets: []

command: []
args: []

port: 8080

replicas: 2

resources:
  requests:
    cpu: '0.1'
    memory: 300Mi
  limits:
    cpu: '0.2'
    memory: 600Mi

service:
  labels: {}
  annotations: {}

ingress:
  enabled: false

  hosts: []

  className: ""

  labels: {}
  annotations: {}

platform:
  apiPublicUrl: https://staging.neu.ro/api/v1
  authUrl: http://platform-auth:8080
  token: {}

postgres-db-init:
  adminDsn: {}
  migrationsRunnerDsn: {}
  serviceDsn: {}

  migrations:
    enabled: true

    image:
      repository: "$IMAGE_REPO"
      tag: "$IMAGE_TAG"

    command: ["alembic", "upgrade", "head"]

secrets: []

externalSecrets: []
  # - name: platform-admin-secret
  #   secretStoreName: vault-backend
  #   secretStoreKind: ClusterSecretStore
  #   data:
  #     DATABASE_URL:
  #       key: kv-v2/platform
  #       property: DATABASE_URL
  #     API_KEY:
  #       key: kv-v2/platform
  #       property: API_KEY

sentry: {}

postgres:
  dsn: {}

cors: {}

enableDocs: false

securityContext:
  enabled: false
  runAsUser: 1001
  runAsGroup: 1001
  runAsNonRoot: true
  allowPrivilegeEscalation: false
